.container {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #191919;
  padding: 20px 175px;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  font-size: 18px;

  .info {
    width: 100px;
  }

  .navigationContainer {
    display: flex;
    align-items: center;
    gap: 12px;

    .option {
      width: fit-content;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      padding: 0px 12px;

      transition: 0.4s;

      &:hover {
        background: rgba(247, 242, 236, 0.1);
      }
    }

    .active {
      width: fit-content;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(247, 242, 236, 0.1);
      border-radius: 100px;
      padding: 0px 12px;
    }
  }

  .filterContainer {
    width: 100px;

    .filter {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}