.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('../../public/assets/backgrounds/landingpage.svg');
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 850px) {
    background-position: center;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px 100px 0px 0px;
    z-index: 1000;

    @media (max-width: 850px) {
      position: fixed;
      top: 20px;
      right: auto;
      margin: auto;
      align-content: center;
    }
    
    .sound {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(1, 5, 16, 0.66);
      padding: 15px 10px;
      border-radius: 10px;

      &:hover {
        cursor: url('../../public/assets/cursor/Mouse1.png'), auto;
      }

      &:active {
        cursor: url('../../public/assets/cursor/Mouse2.png'), auto;
      }
    }
  }

  .snow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url('../../public//assets/backgrounds/snow.gif');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: 0;
  }

  .centerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    z-index: 1;

    .contentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .title {
        font-weight: 500;
        font-size: 75px;

        @media (max-width: 850px) {
          font-weight: 500;
          font-size: 42px;
        }
      }

      .description {
        width: 750px;
        font-size: 18px;
        text-align: center;

        @media (max-width: 840px) {
          width: 350px;
          font-size: 14px;
          text-align: center;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 12px;

        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 12px 16px;
          gap: 12px;
          background: rgba(1, 5, 16, 0.66);
          border-radius: 10px;

          transition: 0.4s;

          .text {
            margin-top: 3px;
          }

          &:hover {
            cursor: url('../../public/assets/cursor/Mouse1.png'), auto;
          }

          &:active {
            cursor: url('../../public/assets/cursor/Mouse2.png'), auto;
            box-shadow: 0px 0px 12px 0px rgb(255, 247, 0);
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(1, 5, 16, 1);
    padding: 40px 200px;
    font-size: 18px;
    z-index: 1;

    @media (max-width: 850px) {
      padding: 20px 20px;
      align-items: center;
      font-size: 12px;
      flex-direction: column-reverse;
    }

    .socialContainer {
      display: flex;
      gap: 20px;

      .social {
        transition: 0.4s;
      
        &:hover {
        cursor: url('../../public/assets/cursor/Mouse1.png'), auto;
        }

        &:active {
          cursor: url('../../public/assets/cursor/Mouse2.png'), auto;
          filter: brightness(0.7);
        }
      }
    }
  }
}